:root {
    
--hp-primary:yellow;
--hp-bg-strong: #FDDD6E;
--hp-bg-middle:#FDE784; 
--hp-bg-lite: #FDED8E;

--hp-bg-bone: #FBF4EC;
--hp-bg-light: #FDFBEF;
--hp-white: white;

--hp-black: black;
--hp-bg-dark: #140F0B;
--hp-bg-lite-dark:#2D2824;


}

.header {
    background-color: var(--hp-bg-lite-dark);
    color: var(--hp-bg-lite);
    padding: 20px;
    text-align: center;
  }

.navbar {
  background-color: #fff;
  border-bottom: 1px solid #e7e7e7;
}

.navbar-brand {
  color: #333;
  font-weight: bold;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: #333;
  font-size: 14px;
  padding: 10px 15px;
}

.nav-link:hover {
  color: #000;
  background-color: #e7e7e7;
}

.nav-link.active {
  color: #fff;
  background-color: #333;
}

.nav-link.disabled {
  color: #6c757d;
  background-color: #e7e7e7;
}
